package layouts

import "github.com/iakovosvo/go-htmx-contacts-app/views/components"

templ head() {
	<head>
		<title>Contacts app</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta
			name="description"
			content="A minimal contacts app built with Go, HTMX, Templ and
			Echo for demo purposes."
		/>
		<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script>
        function clearModalContent() {
            document.getElementById('modal-content').innerHTML = '';
    	};
		</script>
		<link href="/static/css/style.css" rel="stylesheet"/>
	</head>
}

templ footer() {
	<footer class="bg-primary-600 p-4"></footer>
}

templ nav() {
	<nav>
		@components.Logo()
	</nav>
}

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		@head()
		<body
			x-data="{isModalOpen: false}"
			hx-boost="true"
			class="flex flex-col h-full bg-gray-900"
		>
			<main class="flex justify-center p-4">
				<div class=" mt-8 basis-2/3 max-md:basis-full max-md:mx-4 shadow-lg">
					<div class="bg-gray-800 rounded-t-3xl p-8">
						{ children... }
					</div>
				</div>
			</main>
		</body>
		@components.Modal()
	</html>
}
