package components

templ AddContactButton() {
	<button
		hx-get="/open-form-modal"
		hx-target="#modal-content"
		hx-select="#contact-form"
		x-on:htmx:after-on-load="isModalOpen = true"
		type="button"
		class="rounded-full border-solid border-2 border-blue-500 text-blue-500 flex gap-1 items-center py-2 px-3  focus:outline-none focus:ring-2 focus:ring-blue-300"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="stroke-current text-blue-500" aria-hidden="true">
			<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"></path>
		</svg>
		<span class="font-semibold text-lg">New contact</span>
	</button>
}
