package components

import "github.com/iakovosvo/go-htmx-contacts-app/services"
import "github.com/iakovosvo/go-htmx-contacts-app/utils"
import "fmt"

templ Form(formData services.FormData) {
	<form
		id="contact-form"
		if utils.HasFormValue(formData, "id") {
			hx-post={ fmt.Sprintf("/contacts/%s", formData.Values["id"]) }
		} else {
			hx-post="/contacts"
		}
		hx-swap="outerHTML"
		x-on:htmx:after-on-load.keydown.enter.window="isModalOpen = false;clearModalContent();"
		class="p-6 rounded-lg"
	>
		<div class="mb-6">
			<label for="name" class="block mb-2 text-lg font-bold text-gray-200">Name</label>
			<input
				id="name"
				type="text"
				name="name"
				if utils.HasFormValue(formData, "name") {
					value={ formData.Values["name"] }
				}
				placeholder="Enter name"
				required
				class="bg-inherit border border-gray-500 text-gray-200 text-sm rounded-md focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 block w-full p-2.5"
			/>
		</div>
		<div class="mb-6">
			<label for="email" class="block mb-2 text-lg font-bold text-gray-200">Email</label>
			<input
				id="email"
				type="email"
				name="email"
				placeholder="Enter email"
				required
				if utils.HasEmailError(formData) {
					autofocus
				}
				if utils.HasFormValue(formData, "email") {
					value={ formData.Values["email"] }
				}
				class="bg-inherit border border-gray-500 text-gray-200 text-sm rounded-md focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 block w-full p-2.5"
			/>
			if utils.HasEmailError(formData) {
				<div class="text-gray-50 pt-1">Email already exists</div>
			}
		</div>
		<button class="w-full text-gray-800 bg-white focus:ring-4 hover:opacity-80 focus:outline-none focus:ring-blue-300 font-bold rounded-full text-xl px-5 py-2.5 text-center">
			if utils.HasFormValue(formData, "id") {
				Update
			} else {
				Create
			}
		</button>
	</form>
}
