package components

templ Modal() {
	<div
		x-show="isModalOpen"
		x-trap="isModalOpen"
		x-on:keydown.escape.window="isModalOpen = false;clearModalContent();"
	>
		<div aria-hidden="true" class="bg-slate-900/80 bottom-0 fixed left-0 right-0 top-0 z-20"></div>
		<div
			role="dialog"
			aria-modal="true"
			class="fixed bottom-0 p-6 left-0 overflow-auto right-0 top-0 z-30 lg:py-24"
		>
			<div
				class="container max-w-xl mx-auto relative shadow-lg z-90"
				x-on:click.outside="isModalOpen = false;clearModalContent();"
			>
				<button
					aria-label="Close"
					x-on:click="isModalOpen = false;clearModalContent();"
					class="absolute top-4 right-4 p-2 text-white rounded-full"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
				<div id="modal-content" class="p-6 bg-gray-800 rounded-3xl"></div>
			</div>
		</div>
	</div>
}
