package pages

import "github.com/iakovosvo/go-htmx-contacts-app/services"
import "github.com/iakovosvo/go-htmx-contacts-app/views/layouts"
import "github.com/iakovosvo/go-htmx-contacts-app/views/components"

templ HomePage(formData services.FormData) {
	@layouts.Layout() {
		@components.ContactsHeader()
		@components.ContactList()
	}
}
