package templates

import "github.com/iakovosvo/go-htmx-contacts-app/services"

templ Form(formData services.FormData) {
	<form id="contact-form" hx-post="/contacts" hx-swap="outerHTML" class="p-6 rounded-lg">
		<div class="mb-6">
			<label for="name" class="block mb-2 text-lg font-bold text-gray-200">Name</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Enter name"
				required
				class="bg-inherit border border-gray-500 text-gray-200 text-sm rounded-md focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 block w-full p-2.5"
			/>
		</div>
		<div class="mb-6">
			<label for="email" class="block mb-2 text-lg font-bold text-gray-200">Email</label>
			<input
				name="email"
				id="email"
				placeholder="Enter email"
				required
				class="bg-inherit border border-gray-500 text-gray-200 text-sm rounded-md focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 block w-full p-2.5"
			/>
		</div>
		<button type="submit" class="w-full text-gray-800 bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-full text-xl px-5 py-2.5 text-center">Add</button>
	</form>
}
