package templates

templ head() {
	<head>
		<title>Contacts app</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
		// <script src="static/script/response-targets.js"></script>
		// if os.Getenv("env") == "production" {
		// 	<link rel="stylesheet" href="static/css/style.min.css" nonce={ middleware.GetTwNonce(ctx) }/>
		// } else {
		// 	<link rel="stylesheet" href="static/css/style.css" nonce={ middleware.GetTwNonce(ctx) }/>
		// }
		<link href="/static/css/style.css" rel="stylesheet"/>
	</head>
}

templ footer() {
	<footer class="bg-primary-600 p-4"></footer>
}

templ nav() {
	<nav>
		@Logo()
	</nav>
}

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		@head()
		<body class="flex flex-col h-full bg-gray-900">
			// @nav()
			<main class="flex justify-center p-4">
				{ children... }
			</main>
		</body>
	</html>
}
