package templates

templ head() {
	<head>
		<title>Contacts app</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
		// can conditionally use style.css or style.min.css depending on PROD env here
		<link href="/static/css/style.css" rel="stylesheet"/>
	</head>
}

templ footer() {
	<footer class="bg-primary-600 p-4"></footer>
}

templ nav() {
	<nav>
		@Logo()
	</nav>
}

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		@head()
		<body hx-boost="true" class="flex flex-col h-full bg-gray-900">
			<main class="flex justify-center p-4">
				<div class=" mt-8 basis-2/3 max-md:basis-full max-md:mx-4 shadow-lg">
					<div class="bg-gray-800 rounded-t-3xl p-8">
						{ children... }
					</div>
				</div>
			</main>
		</body>
	</html>
}
